﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>INFO</h1>
    @for (int i = 0; i < 20; i++)
    {
        <h2>@ViewBag.Imie</h2>

    }
    @using (Html.BeginForm("Kod", "Home"))
    {
        @Html.TextArea("kod");
        <button type="submit">WYŚLIJ</button>
    }
    <h2>asdasd</h2>
  
</body>
</html>