﻿@model IEnumerable<Animal>
<h1>Hello</h1>
<table>
    
    <thead>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Id)</td>
            <td>@Html.DisplayNameFor(model=>model.Name)</td>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model)
    {
        <tr>
        <td>
            @Html.DisplayFor(m=>item.Id)
        </td>
            <td>

            @Html.DisplayFor(m=>item.Name)
            </td>

        </tr>
    }
    </tbody>
</table>